.footer {
	float: left;
	width: 100%;
	padding: 25px 0;
	background-color: #F1F2F2;
	border-top: 3px solid #473079;

	&__logo {
		display: inline-block;
		vertical-align: middle;
		width: 165px;
		height: 50px;
		margin-right: 70px;
	}

	&__copy {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		color: #2D2D2D;
	}

	&__address {
		float: right;
		margin-top: 17px;
		font-size: 12px;
		color: #2D2D2D;
	}

}

// hover 
@media only screen and (min-width: 1200px) {
	
}

// desktop 1024
@media only screen and (max-width: 1200px) {

}

// celular com porcentagem
@media only screen and (max-width: 992px) {

}

// celulares tela pequena
@media only screen and (max-width: 767px) {

	.footer {
		margin-bottom: 60px;
	}

}