.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	padding-top: 15px;

	&__logo {
		display: inline-block;
		width: 180px;
		height: 60px;
		.icon {
			width: 100%;
			height: 100%;
			fill: #fff;
		}
	}

	&__info {
		float: right;
		margin-top: 5px;
	}

	&__nav {
		display: inline-block;
		vertical-align: middle;
	}

	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 25px;

		a {
			position: relative;
			font-size: 14px;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
		}
	}

	&__phone {
		display: inline-block;
		vertical-align: middle;

		.caption {
			display: inline-block;
			vertical-align: middle;
			margin: 0 15px 0 25px;
			font-size: 14px;
			font-weight: 300;
			color: #fff;
			strong {
				display: block;
			}
		}		

		.btn {
			display: inline-block;
			vertical-align: middle;
			width: auto;
			padding: 0 20px;
			line-height: 40px;

			.icon, .text {
				display: none;
			}
		}
	}

	&.fixed {
		position: fixed;
		padding: 10px 0;
		background-color: #fff;
		box-shadow: 0 10px 32px rgba(0, 0, 0, .16);
		.transition(.3s);
		.transform(translate3d(0, -100%, 0));
		visibility: hidden;

		.header__logo {
			width: 140px;
			height: 40px;	
			.icon {
				fill: @primary;
			}	
		}

		.header__info {
			margin-top: 0;
		}
		
		.header__link {
			a {				
				color: #010101;
			}
		}	

		.header__item {
			a {
				color: #191919;
			}
		}

		.header__phone {			
	
			.caption {
				color: #191919;				
			}						
	
			.btn {
				display: inline-block;
				vertical-align: middle;
			
	
				.icon {
					display: inline-block;
				}
			}
		}

		&.slideDown {
			visibility: visible;
			.transform(translate3d(0, 0, 0));
		}
	}

}

// hover
@media only screen and (min-width: 1170px) {

	.header {	
		.header__item {
			a:after {
				content: '';
				position: absolute;
				bottom: -4px;
				left: 50%;
				width: 0;
				border-bottom: 2px solid @secundary;
				.transition(.3s);		
			}
			&.active a:after, &:hover a:after {
				left: 0;
				width: 100%;
			}
		}			

		.header__phone:hover .icon {						
			.transform(translate3d(0, 0, 0));		
		}
		
		&.fixed {
			.header__link a {
				&:after {				
					border-color: #000;
				}				
			}
		}
	}

}

// desktop 1024
@media only screen and (max-width: 1200px) {

	.header {

		&__nav {
			display: none;
		}	
	
	}

}

// celulares tela pequena
@media only screen and (max-width: 767px) {

	.header {
		padding-top: 0;

		&__logo {
			display: table;
			width: 150px;
			height: 50px;
			margin: 15px auto 0;
		}

		&__phone {
			position: fixed;
			bottom: 15px;
			left: 0;
			width: 100%;

			.caption {
				display: none;
			}

			.btn {
				display: block;
				width: 90%;
				margin: auto;				
	
				.icon {
					display: inline-block;
				}		

				.text {
					display: inline-block;
				}

				.number {
					display: none;
				}
			}
		}

	}

}

