.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100%;
	padding-top: 15px;


	&__logo {
		display: inline-block;
		width: 200px;
		height: 60px;
		.svg('logo.svg', 0 0 no-repeat);
		text-indent: -999em;
	}

	&__info {
		float: right;
		margin-top: 14px;
	}

	&__nav {
		display: inline-block;
		vertical-align: middle;
	}

	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-left: 25px;

		a {
			position: relative;
			font-size: 14px;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;

			&:before {
			  content: '';
		    position: absolute;
		    top: 1px;
		    left: -10px;
		    height: 100%;
		    border-left: 5px solid @primary;
		    .origin(left bottom);
		    .transform(scale(1,0));
		    .cubic(.4s,1,0,0,1);
			}

			&:hover:before {
		    .origin(left top);
		    .transform(scale(1,1));
			}
		}
	}

	&__phone {
		display: inline-block;
		vertical-align: middle;

		.caption {
			display: inline-block;
			vertical-align: middle;
			margin: 0 15px;
			font-size: 14px;
			font-weight: 300;
			color: #fff;
			strong {
				display: block;
			}
		}

		.number {
			display: inline-block;
			vertical-align: middle;
			padding: 10px 20px;
			border-radius: 22px;
			background-color: @primary;
			font-size: 14px;
			font-weight: 700;
			color: #fff;
		}
	}


}

// hover
@media only screen and (min-width: 1200px) {

}

// desktop 1024
@media only screen and (max-width: 1200px) {

}

// celular com porcentagem
@media only screen and (max-width: 992px) {

}

// celulares tela pequena
@media only screen and (max-width: 767px) {

	.header {

		&__logo {
			display: table;
			margin: 15px auto;
		}

		&__phone {
			float: none;
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 999;
			width: 100%;
			padding: 10px 15px;
			margin-top: 0;
			background-color: #99d557;
			text-align: center;

			.icon--phone {
				float: left;
				width: 40px;
				height: 40px;
				fill: #fff;
			}

			.icon--arrow {
				display: block;
				float: right;
				width: 20px;
				height: 20px;
				margin: 10px 0;
				fill: #fff;
			}

			.caption {
				margin: 11px 5px 11px 0;
				color: #fff;
				font-weight: 400;
			}

			.number {
				color: #fff;
				font-size: 18px;
			}
		}

	}

}

